@font-face {
    font-family: Outfit-Light;
    src: url(../fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: Outfit-Bold;
    src: url(../fonts/Outfit-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit-Light;
}

:root{
    --color-blue: #1A56FF;
    --color-white: #F7F8FC;
    --color-blue-light: #E1EAFE;
    --color-text: #0F1117;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --padding-sm: 60px;
    --padding-md: 80px;
    --padding-lg: 100px;
    --font-size-title: 40px;
    --font-size-subtitle: 20px;
    --font-size-text: 15px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-white);
    color: var(--color-text);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding-inline: var(--padding-lg);
    padding-block: var(--padding-sm);
    gap: var(--padding-md);
    flex-wrap: wrap;

    
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
    
}

h1{
    font-family: Outfit-Bold;
    font-size: var(--font-size-title);
}
h2{
    font-size: var(--font-size-subtitle);
}

.hero-content p{
    text-align: justify;
    max-width: 330px;
    font-size: var(--font-size-text);

}

.links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-lg);

}

.botao1{
    border: 2px solid var(--color-blue);
    padding: var(--spacing-md);
    background-color: var(--color-blue);
    text-decoration: none;
    color: var(--color-white);
    transition: .5s;
}

.botao1:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
}

.botao2{
    border: 2px solid var(--color-blue);
    padding: var(--spacing-md);
    text-decoration: none;
    color: var(--color-blue);
}


.hero-image img{
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    height: auto; 
    border: 2px solid var(--color-blue);  
    border-radius: var(--spacing-md);
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    gap: var(--padding-sm);
}

.container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border: 1px solid var(--color-text);
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
}

.card img{
    width: 100%;
}


.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding-inline: var(--padding-lg);
    padding-block: var(--padding-sm);
    gap: var(--padding-md);
    flex-wrap: wrap;
}

.sobre-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
    max-width: 400px;
    min-width: 350px;
}

.imagem-sobre img{
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    height: auto; 
    border: 2px solid var(--color-blue);  
    border-radius: var(--spacing-md);
}


footer{
    width: 100%;
    height: var(--padding-lg);
    background-color: var(--color-text);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    
}